<!DOCTYPE html> {# this is not an HTML tag. It only declares the doc type.It informs the browser that the doc type is HTML 5 and this is always the beginning of an HTML5 file #}
<html> {# The most basic tag is always the beginning of html content and at the end of the content #}
    <head>
        <title> Fudge Kettle Candy Site TUT </title>
    </head>
    <body> 
        <h2>Satisfy you sweet tooth!</h2>
        <p>Experience our homemade fudge candies and hand crafted gifts.</p> {# p is the tag for paragraph elements, closes each paragraph #}
        
        <h2>About Us</h2>
        <p>The Fudge Kettle was officially born in April of 2020 and our first brick & mortar location opened on August 22, 2020 in Avon, Indiana. A few years later we moved to our current location at 8100 E US Hwy 36, Suite J, Avon, IN 46123. New owners took over operation May 1, 2023 and are dedicated to growing our client base, and getting out in the Community at different events. This has proven to be very successful, and we love seeing you all at these events! </p>
        
        <h2>Custom Orders</h2>
        <p>Let us make your occasion special!  Contact us to order handmade creations for your guests.</p>
        <a href="https://djangogirls.org">link</a>
    </body> {# each html page is divided into head(contains info about the doc that's not displayed on the screen) and body(contains everything that is displayed as part if the web page). #}
</html>